@model MvcMovie.Models.Movie

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Movie</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>
</div>

@* We list all the reviews for the current selected movie *@
<h2>Reviews</h2>
<ul class="list-group">
    @{
        var reviews = (List<Review>?)ViewData["reviews"];
        if (reviews != null) {
            foreach (var review in reviews) {
                <li class="list-group-item">
                    <div>
                        <b>@review.Username</b> <i>@DateTime.Now.Subtract(review.PostDate).Days days ago</i>
                    </div>
                    <div>@review.Content</div>
                </li>
            }
        }
    }
</ul>

<br />

@* We create the post form for the movie review creation *@
<div class="container">
    <h2>Add a review</h2>

    <form method="post" enctype="multipart/form-data" asp-controller="Movies" asp-action="PostReview" asp-route-id="@Model?.Id">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Username</span>
            </div>
            <input type="text" id="txtUsername" name="username" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroup-sizing-default">Content</span>
            </div>
            <input type="text" id="txtContent" name="content" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
        </div>

        <input type="submit" value="Post" class="btn btn-primary" style="float:right; font-size:1.25rem;" />

        <br /><br /><hr />
    </form>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
